.scene {
  width: 80vh;
  height: 80vh;
  
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  perspective: 160vh;
}

.camera {
  width: 100%;
  height: 100%;
  
  transform-style: preserve-3d;
  transition: transform 1s;
}

.camera.front  { transform: translateZ(-40vh) rotateY(   0deg); }
.camera.right  { transform: translateZ(-40vh) rotateY( -90deg); }
.camera.back   { transform: translateZ(-40vh) rotateY(-180deg); }
.camera.left   { transform: translateZ(-40vh) rotateY(  90deg); }
.camera.top    { transform: translateZ(-40vh) rotateX( -90deg); }
.camera.bottom { transform: translateZ(-40vh) rotateX(  90deg); }

.face {
  width: 100%;
  height: 100%;
  position: absolute;
}

.face.front  { transform: rotateY(  0deg) translateZ(40vh); }
.face.right  { transform: rotateY( 90deg) translateZ(40vh); }
.face.back   { transform: rotateY(180deg) translateZ(40vh); }
.face.left   { transform: rotateY(-90deg) translateZ(40vh); }
.face.top    { transform: rotateX( 90deg) translateZ(40vh); }
.face.bottom { transform: rotateX(-90deg) translateZ(40vh); }

.face > .tile {
  width: 10.05%;
  height: 10.05%;
  overflow: hidden;

  position: absolute;
  image-rendering: pixelated;
  /* border: 1px rgba(0, 0, 0, 1) solid; */
}

.tile img {
  position: absolute;
  left: 0;
}

.tile.user {
  transition: transform 1s;
}

.radio-group {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
